/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  background: url("ignasi_pattern_s.png");
}
 #main{
   width: 900px;
   margin: auto;
   font-family: "Avenir Next";
   text-align: center;
 }
ul#twitterAccounts li{
  display: inline;
  margin: 1em;
}

h1{
  color: #0dc5c1;
}

input#searchTerm, input[type="submit"] {
    font-size: 2em;
}

button {
  font-size: 2em;
}
form span{
  font-size: 2em;
}
svg#svg_vis{
  /*opacity: .7;*/
}

.link{
  color: darkblue;
  cursor: pointer;
}

.link:hover{
  color: #0dc5c1;
}

#tweets{
  width: 800px;
  margin: auto;
  font-size: 1.4em;
}

ul#twitterAccounts {
    margin-left: -70px;
}
